*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    color: white;
    padding: 20px 100px;
}

.logo {
    align-items: center;
    display: flex;
   
}

.logo img{
    width: 50px;
    padding-left:;
}

.logo span{
    padding-left: 15px;
    font-weight: bold;
}
.menu{
    display: flex;
    padding-left: 250px;
}

.menu ul{
    display: flex;
    gap: 30px;
}
.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.download-button a{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 13px 23px;
    border-radius: 8px;
}